!!! 5
%html
  %body
    %p Welcome #{@student.username}!
    %br
    %p Thank you for your trust in Tealeaf! We confirm the payment - #{number_to_currency(@course.price_dollars)} for the signature track for course #{@course.title}.
    %br
    %p In order to receive certification from Tealeaf - here is the information you need to know:
    %ul
      %li Certification will be sent only upon successful completion of exams. Ex. You will need to pass each exam indivually.
      %li If you don't pass an exam, you will have a chance to retry it.
      %li You will be acknowledged by email once you successfully complete all exams.
      %li You will be able to share Tealeaf Certificate on LinkedIn.
    %p For further information, please contact our support services.
    %br
    %p Your Tealeaf Academy team