%nav.navbar.navbar-default.layout(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="") Quizzer
    %ul.nav.navbar-nav.navbar-right
      - if logged_in?
        %li= link_to current_user.username, '', class: "btn btn-default"
        %li
          = link_to sign_out_path, method: :delete, class: "btn btn-default" do
            %i.fa.fa-sign-out
            Sign out
      - else
        %li
          = link_to github_sign_in_path, class: "btn btn-default" do
            %i.fa.fa-github.fa-2x
            %span.sign_in_btn_text Sign in with GitHub