---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1999&currency=usd&card=tok_15W8EUC58PH9OiW9kg4rBuBo
    headers:
      Authorization:
      - Bearer sk_test_jaNAAogSSLGyWYA90ohSeLCS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15W8EVC58PH9OiW9fbG4FmMA",
          "object": "charge",
          "created": 1423929207,
          "livemode": false,
          "paid": true,
          "amount": 1999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15W8EUC58PH9OiW9O0ewMsXA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "aJkBB1JW4j6sEFEB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15W8EVC58PH9OiW9Wo6EXW8C",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15W8EVC58PH9OiW9fbG4FmMA/refunds",
            "data": []
          }
        }
  recorded_at: Sat, 14 Feb 2015 15:53:28 GMT
recorded_with: VCR 2.9.3
