!!! 5
%html
  %body
    %p Welcome on Tealeaf Academy Quizzer board,
    %br
    %p
      we are sending you activation link to activate your account. Please validate and activate your account here:

    %p= link_to activate_admin_url(@admin.activation_token), activate_admin_url(@admin.activation_token)

    %p Tealeaf Academy