!!! 5
%html
  %body
    %p Dear Admin,
    %br
    %p We have received a request that you wish to reset your password
    %p In case you requested this service and click the link below:
    %br
    %p= link_to "Reset password link", edit_password_reset_url(@admin.password_reset_token)
    %p For further information, please contact our support services.
    %br
    %p Your Tealeaf Academy team