.container
  .row
    .pull-left
      %h1 All Courses
    .pull-right
      %a.btn.btn-default.new_course_button(href='')
        %span.glyphicon.glyphicon-plus
        New Course
  %br
  .row
    %strong
      There are no courses in the system. Press the button above to create one.