.container
  .col-sm-9
    %h2 Week 1 - Procedural Blackjack
    %br
    %form(role="form")
      .panel.panel-info
        .panel-heading 1 - Question 1 - How would you describe a method?
        .panel-body
          .checkbox
            %label
              %input(type="checkbox") another answer
          .checkbox
            %label
              %input(type="checkbox" checked) a container for a chunk of code
          - 3.times do
            .checkbox
              %label
                %input(type="checkbox") another answer
      .panel.panel-info
        .panel-heading 1 - Question 1 - How would you describe a method?
        .panel-body
          .checkbox
            %label
              %input(type="checkbox") another answer
          .checkbox
            %label
              %input(type="checkbox" checked) a container for a chunk of code
          - 3.times do
            .checkbox
              %label
                %input(type="checkbox") another answer
      .panel.panel-info
        .panel-heading 1 - Question 1 - How would you describe a method?
        .panel-body
          .checkbox
            %label
              %input(type="checkbox") another answer
          .checkbox
            %label
              %input(type="checkbox" checked) a container for a chunk of code
          - 3.times do
            .checkbox
              %label
                %input(type="checkbox") another answer
      %button.btn.btn-default(type="submit") Submit Answers