.container
  .row
    .col-sm-7
      %h3 Week 1 - Procedural Blackjak
      %br
      %p= Faker::Lorem.paragraph(10)
      %br
      %a.btn.btn-default.btn-lg.col-sm-12(href='')
        %span.glyphicon.glyphicon-play-circle
        Start Quiz
      .clearfix
      %hr(style="padding: 5px 0px;")

      %h3 Week 2 - Object Oriented Programming
      %br
      %p= Faker::Lorem.paragraph(10)
      %br
      %a.btn.btn-default.btn-lg.col-sm-12(href='')
        %span.glyphicon.glyphicon-play-circle
        Start Quiz
      .clearfix
      %hr(style="padding: 5px 0px;")

      %h3 Week 3 - Web development basics - HTTP, Sinatra
      %br
      %p= Faker::Lorem.paragraph(10)
      %br
      %a.btn.btn-default.btn-lg.col-sm-12(href='')
        %span.glyphicon.glyphicon-play-circle
        Start Quiz
      .clearfix
      %hr(style="padding: 5px 0px;")