.container
  .col-sm-9
    %h2 Results for: Week 1 - Procedural Blackjack
    %br
    %form(role="form")
      .panel.panel-info
        .panel-heading 1 - Question 1 - How would you describe a method?
        .panel-body
          %h4 Correct answer
          %ul.no-bullets
            %li A container for a chunk of code
          %br
          %h4 Your answer
          %ul.no-bullets
            %li.student-correct-answer A container for a chunk of code
      .panel.panel-info
        .panel-heading 2 - Question 2 - How would you describe another method?
        .panel-body
          %h4 Correct answer
          %ul.no-bullets
            %li Another container for a chunk of code
          %br
          %h4 Your answer
          %ul.no-bullets
            %li.student-incorrect-answer A wrong answer