.container
  .row
    .col-sm-7
      - @courses.each do |course|
        %img(src="http://dummyimage.com/637x284/123/fff.png&text=Course+image")
        %h3= course.title
        %p= course.description
        %br
        %a.btn.btn-default.btn-lg(href='')
          %span.glyphicon.glyphicon-play-circle
          Enter
        %hr