---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=pk_test_X52PaWssAhusIe9fUXjSvjs3&payment_user_agent=stripe.js%2Fe171cde&card[number]=123&card[cvc]=123&card[exp_year]=2018&card[exp_month]=4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "This card number looks invalid.",
            "type": "card_error",
            "param": "number",
            "code": "invalid_number"
          }
        }
  recorded_at: Tue, 24 Feb 2015 17:14:48 GMT
recorded_with: VCR 2.9.3
