---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=pk_test_X52PaWssAhusIe9fUXjSvjs3&payment_user_agent=stripe.js%2Fbebcbe6&card[number]=4000000000000069&card[cvc]=123&card[exp_year]=2015&card[exp_month]=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration month is invalid.",
            "type": "card_error",
            "param": "exp_month",
            "code": "invalid_expiry_month"
          }
        }
  recorded_at: Mon, 02 Mar 2015 16:39:54 GMT
recorded_with: VCR 2.9.3
