---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=pk_test_X52PaWssAhusIe9fUXjSvjs3&payment_user_agent=stripe.js%2Fe171cde&card[number]=4000000000000127&card[cvc]=123&card[exp_year]=2018&card[exp_month]=4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15ZmGrC58PH9OiW9iuh2VVx0",
          "livemode": false,
          "created": 1424798097,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15ZmGrC58PH9OiW97XASsgPd",
            "object": "card",
            "last4": "0127",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "85.248.153.200"
        }
  recorded_at: Tue, 24 Feb 2015 17:14:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1999&currency=usd&card=tok_15ZmGrC58PH9OiW9iuh2VVx0
    headers:
      Authorization:
      - Bearer sk_test_jaNAAogSSLGyWYA90ohSeLCS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_15ZmGsC58PH9OiW9un3iaMIb"
          }
        }
  recorded_at: Tue, 24 Feb 2015 17:14:59 GMT
recorded_with: VCR 2.9.3
