---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=4999&currency=usd&card=tok_1C7ODIAqLMYq45GOoxNILFAD
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_1C7ODJAqLMYq45GOGSWvuupE"
          }
        }
  recorded_at: Mon, 19 Mar 2018 13:39:50 GMT
recorded_with: VCR 2.9.3
