---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1999&currency=usd&card=tok_15W8aRC58PH9OiW9ptBmnnM8
    headers:
      Authorization:
      - Bearer sk_test_jaNAAogSSLGyWYA90ohSeLCS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_15W8aTC58PH9OiW9OVugiT1k"
          }
        }
  recorded_at: Sat, 14 Feb 2015 16:16:10 GMT
recorded_with: VCR 2.9.3
