---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1999&currency=usd&card=tok_15W8fjC58PH9OiW945wxsbaW
    headers:
      Authorization:
      - Bearer sk_test_jaNAAogSSLGyWYA90ohSeLCS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15W8fkC58PH9OiW9iZ7M4pjV"
          }
        }
  recorded_at: Sat, 14 Feb 2015 16:21:37 GMT
recorded_with: VCR 2.9.3
