---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=4999&currency=usd&card=tok_1C7ODEAqLMYq45GOVEXIz275
    headers:
      Authorization:
      - Bearer sk_test_n4QZH7Y0rhBg0pxsSRPDG0ad
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "code": "processing_error",
            "charge": "ch_1C7ODGAqLMYq45GOhLkvfjS7"
          }
        }
  recorded_at: Mon, 19 Mar 2018 13:39:46 GMT
recorded_with: VCR 2.9.3
