/*
 *= require_self
 */

@import rails_bootstrap_forms
@import course
@import exam
@import enroll
@import parsley
@import password_reset
@import pygments-github
@import quiz
@import certificate
@import pdf2
@import bootstrap-sprockets
@import bootstrap
@import font-awesome
@import navbar
@import modal

body
  font-family: "Crete Round", Georgia, "Times New Roman", Times, serif
section
  margin-top: 20px
.row
  margin-left: 0
  margin-right: 0
.btn-tealeaf, .btn-tealeaf:active
  color: $dark-gray
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  -ms-transition: all 0.2s ease
  -o-transition: all 0.2s ease
  transition: all 0.2s ease
  &:hover
    border: 2px solid $teal
    color: $white
    background-color: $tealeaf-light
  &:focus
    border: 2px solid $teal
    color: $white
    background-color: $tealeaf-light
section.ui
  margin-top: 70px
footer
  min-height: 54px
  background-color: #f8f8f8
  border-color: #e7e7e7
.copy-rights
  padding: 26px
  margin-top: 30px
.no-bullets
  list-style: none
.admin-login
  margin: 250px 150px
  h1
    margin: 0px 0px 15px 6px
.new_course_button
  margin-top: 30px
.new_quiz_button
  margin-top: 20px
.field_with_errors
  @extend .has-error
  .form-control 
    color: $state-danger-text