/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

section.ui
  margin-top: 70px
.navbar-brand
  padding: 50px 15px
  min-height: 120px
  font-size: 40px
footer
  min-height: 54px
  background-color: #f8f8f8
  border-color: #e7e7e7
.copy-rights
  padding: 26px
  margin-top: 30px
.no-bullets
  list-style: none
.student-correct-answer
  color: #33CC33
.student-incorrect-answer
  color: red
.admin-login
  margin: 250px 150px
  h1
    margin: 0px 0px 15px 6px
.new_course_button
  margin-top: 30px