.jumbotron.tealeaf
  background: asset_url("code-bg.jpg")
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  margin-bottom: 30px
  width: 100%
  position: relative
  padding-bottom: 15px
  .after-nav
    margin-top: 90px
    padding-top: 10px
    margin-bottom: 30px
    position: relative
  .ta-leaf
    border-radius: 50%
    color: white
    padding: 10px
    position: relative
    right: 5px
    em
      font-size: 3em
      margin-left: 0.5em
    ul
      margin-left: 1em
      li
        font-size: 2em
    .ta-title
      color: white
      font-size: 4em
    .ta-subtitle
      margin-top: 20px
      color: white
      font-size: 3em
      img
        margin-left: 20px

.linkedin-button
  margin: 10px 13px
  padding: 19px 22px
  background-color: white
  border-radius: 4px
  -webkit-box-shadow: 6px 6px 6px 0 #36FFFF
  box-shadow: 6px 6px 6px 0 #36FFFF