.glyphicon-new-window
  font-size: 11px
label.btn-enroll
  min-width: 276px
  width: 48.5%
  height: 150px
  padding: 54px
  font-size: 25px
  > .fa.fa-bookmark
    position: relative
    top: -61px
    left: -21px
  > .signature-track
    position: relative
    left: -47px
label.btn-enroll:first-child
  margin-right: 12px
label.honor_code_check_box input[type="checkbox"]
  margin-left: 0px
span.honor_code_span
  margin-left: 20px
.font-16
  font-size: 16px !important
button#stripeSubmit
  width: 84%
  > .glyphicon
    margin-right: 10px
fieldset.credit_card
  > hr
    margin-bottom: 0px