---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[cvc]=314&card[exp_month]=12&card[exp_year]=2017
    headers:
      Authorization:
      - Bearer sk_test_jaNAAogSSLGyWYA90ohSeLCS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15a1M7C58PH9OiW9RUoZRSpM",
          "livemode": false,
          "created": 1424856083,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15a1M7C58PH9OiW9iuS3cPHS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "aJkBB1JW4j6sEFEB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "85.248.153.200"
        }
  recorded_at: Wed, 25 Feb 2015 09:21:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1999&currency=usd&card=tok_15a1M7C58PH9OiW9RUoZRSpM
    headers:
      Authorization:
      - Bearer sk_test_jaNAAogSSLGyWYA90ohSeLCS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-10'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15a1M8C58PH9OiW9IUcvNhgW",
          "object": "charge",
          "created": 1424856084,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 1999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15a1M7C58PH9OiW9iuS3cPHS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "aJkBB1JW4j6sEFEB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_15a1M7C58PH9OiW9iuS3cPHS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "aJkBB1JW4j6sEFEB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15a1M8C58PH9OiW9AOlBnsHu",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15a1M8C58PH9OiW9IUcvNhgW/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 25 Feb 2015 09:21:25 GMT
recorded_with: VCR 2.9.3
