%section.container
  .row
    .pull-left
      %h1 All Courses
    .pull-right
      = link_to new_admin_course_path, class: "btn btn-default new_course_button" do
        %span.glyphicon.glyphicon-plus
        New Course
  %br
  .col-sm-10
    %table.table
      %thead
        %tr
          %th(width="80%") Title
          %th(width="20%") Actions
      %tbody
        - @courses.each do |course|
          %tr
            %td
              %strong= link_to course.title, [:admin, course]
            %td
              = link_to "Edit", [:edit, :admin, course] 
              = link_to "Publish", ''
